.footer-container {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-content {
    width: 100%;
  
    margin: 0 auto;
  }
  
  .social-icons {
    margin-bottom: 10px;
    display: flex;
  }
  
  .social-icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
    transition: transform 0.3s ease-in-out;
  }
  
  .social-icon:hover {
    transform: scale(1.2);
  }
  
  .footer-text {
    font-size: 20px;
  }
  
  .contact-info {
    
    display: flex;
    flex-direction: column;
    text-align: left;
  
  }
  .connect{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .connect p{
    font-size: 25px;
  }
  
  .contact-item {
    padding-left: 5%;
    padding-bottom: 5px;
    display: flex;
    align-items: left;
    justify-content: left;
    
  }
  
  .contact-item i {
  
    font-size: 20px;
  }
  
  .contact-item span {
    font-size: 16px;
  }
  



  
  @media (max-width: 600px) {


    .contact-item i {
        
        font-size: 15px;
      }
    .footer-container {
        user-select: auto !important;
    
        background-color: #333;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        display: flex;
      }
    .footer-text {
      font-size: 16px;
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
    }

    .connect p{
        font-size: 20px;
      }
  }
  