*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

 .img{
    min-height: 100%;
    max-width: 100%;
    
}


.crsl{
 
    min-height: 500px;
    min-width: 90%;
    max-width: 500px;
    
}



@media only screen and (max-width: 600px) {

    .crsl{
 
        min-height: 300px;
        max-height: 300px;
        min-width: 90%;
        max-width: 90%;
    }
}