*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* dark light mode font */
.dl{ 
    font-size: 15px;
}

/* navbar class */
.nvb{  
    
    width: 100%;
}
.zaid{
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Bodoni Moda', serif;
    
   
}

.hover{
    
    text-decoration: none;
}
.hover:hover{
    cursor: pointer;
  
   
}
html {
    scroll-behavior: smooth;
  }


.navbar-nav li a{
    font-size: 16px;
    font-weight: 600;
}

.navbar-nav li a:hover{
   text-decoration: underline;
   font-weight: 700;
}


 /* Medium devices (tablets, 768px and up) */ 
 @media (max-width: 600px) {
   
    
    .dl {
        padding-left: 0 !important;
        margin-left: 0 !important;   
        user-select: none;
    
    }
    
 
} 