*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

.main{
    overflow-x: hidden;
    padding-top: 5%;
    width: 100%;
    background-image: linear-gradient(rgba(128, 128, 128,0.3), rgb(219, 232, 231),rgba(201, 240, 167, 0.3));
  
}


#title{
    font-size: 1.5rem;
    font-weight: bolder;

}

.services{
    padding-top:2rem ;
    width: 100vw;
    padding-left: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 10%;
    
}

.services #title{
    font-family: 'Caprasimo', cursive;
    text-align: center;
    color:rgba(42, 116, 165, 0.655);
}

.welcome{
    text-align: center;
  
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-size: 2rem;
    font:800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    user-select: none;
    
}


.c1, .c2, .c3, .c4, .c5, .c6 {
    user-select: none;
    
    width: 90%;
    margin-bottom: 5rem;
    min-height: 20rem;
    max-height: 22rem;
    text-align: center;
  
}

.c1:hover, .c2:hover, .c3:hover, .c4:hover, .c5:hover, .c6:hover
{
    cursor: pointer;
    translate: 1.01%;
}





.card-body:hover {
    background: linear-gradient(to right, bisque, rgba(42, 116, 165, 0.655));
    color: white;
} 

.card-body:hover p{
    color: white !important;
    font-size: 17px !important;
}
.c1{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}


.c2{
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    width: 45%;
}

.c3{
    grid-column: 3 / span 3;
    grid-row: 1 / span 1;
   

}

.c4{
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
}

.c5{
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    width: 45%;
}

.c6{
    grid-column: 3 / span 3;
    grid-row: 2 / span 2;
}

.card-text{
    font-size: 1rem;

}






/* Mobile responsiveness*/

@media only screen and (max-width: 600px) {
    #title{
        font-size: 0.6rem;
        font-weight: bolder;
    }

    .card-text{
        font-size: 0.5rem;
    
    }


    .card-body:hover p{
        color: white !important;
        font-size: 13px !important;
        font-weight: bolder !important;
    }

    .services{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding-left: 5%;
        padding-bottom: 10%;
    }


    .c1{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
      
    }
    
    
    .c2{
        grid-column: 2 / span 2;
        grid-row: 1 / span 1;
        width: 90%;
    }
    
    .c3{
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;

    }
    
    .c4{
        grid-column: 2 / span 2;
        grid-row: 2 / span 2;
    }
    
    .c5{
        grid-column: 1 / span 1;
        grid-row: 3 / span 3;
        width: 90%;
    }
    
    .c6{
        grid-column: 2 / span 2;
        grid-row: 3 / span 3;
    }
   

}